In [1]:
import pandas as pd # pandas library for data wrangling
import seaborn as sns  # visualization library
import numpy as np  # for mathemcatical and numeric purposes and array
from sklearn.preprocessing import MinMaxScaler
import category_encoders as ce

Importing the data

In [2]:
train = pd.read_csv('Training.csv') # read the train dataset also mantion the column names
train.drop(["Instance"] , inplace=True ,axis=1)
train.head()

,Year of Record,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Income in EUR
0,1997.0,0,41.0,Belarus,1239930,steel workers,Bachelor,0,Blond,193,61031.94416
1,1996.0,other,41.0,Singapore,1603504,safe event coordinator,Master,0,Black,186,91001.32764
2,2018.0,other,28.0,Norway,1298017,receivables/payables analyst,PhD,1,Brown,170,157982.17670
3,2006.0,other,33.0,Cuba,751903,fleet assistant,No,1,Black,171,45993.75793
4,2010.0,female,46.0,United Arab Emirates,95389,lead trainer,0,0,Blond,188,38022.16217

# Data Cleaning

In [3]:
# Function for filling Null values with Mode of the Column
def fillna(col):
    col.fillna(col.value_counts().index[0], inplace=True)
    return col

In [4]:
train = train.drop_duplicates()

#Outliers Detection & Removal
#q = train["Income in EUR"].quantile(0.90)
#train  = train[train["Income in EUR"] < q]


train["Year of Record"].replace(0, np.NaN, inplace = True)   
train.dropna(axis=0, subset=['Year of Record'],inplace=True)

train["Gender"].replace("0", "unknown", inplace = True)   
#train.dropna(axis=0, subset=['Gender'],inplace=True)
train["Gender"].replace(np.NaN, "unknown", inplace = True)   


#train["Hair Color"].replace(np.NaN, "Unknown", inplace = True)   
train.dropna(axis=0, subset=['Hair Color'],inplace=True)
train.dropna(axis=0, subset=['Wears Glasses'],inplace=True)
train.dropna(axis=0, subset=['Body Height [cm]'],inplace=True)

#train['Age'].fillna((train['Age'].mean()), inplace=True)

train.dropna(axis=0, subset=['Age'],inplace=True)

#train = train[np.abs(train["Size of City"] - train["Size of City"].mean()) <= (3*train["Size of City"].std())]

#train["Size of City"] = pd.qcut(train["Size of City"],5)

train.dropna(axis=0, subset=['Profession'],inplace=True)

train["University Degree"].replace("0", np.NaN, inplace = True)   # then replce it with NAN becasue dropna fucntion undersatnds that nan means null values
train.dropna(axis=0, subset=['University Degree'],inplace=True)

train['Age'].fillna((train['Age'].mean()), inplace=True)

#Creating Bin for Age
#train.loc[ train['Age'] <= 20, 'Age'] = 0
#train.loc[(train['Age'] > 20) & (train['Age'] <= 32), 'Age'] = 1
#train.loc[(train['Age'] > 32) & (train['Age'] <= 48), 'Age'] = 2
#train.loc[(train['Age'] > 48) & (train['Age'] <= 64), 'Age'] = 3
#train.loc[ train['Age'] > 64, 'Age'] = 4

train.head(8)

,Year of Record,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm],Income in EUR
0,1997.0,unknown,41.0,Belarus,1239930,steel workers,Bachelor,0,Blond,193,61031.94416
1,1996.0,other,41.0,Singapore,1603504,safe event coordinator,Master,0,Black,186,91001.32764
2,2018.0,other,28.0,Norway,1298017,receivables/payables analyst,PhD,1,Brown,170,157982.17670
3,2006.0,other,33.0,Cuba,751903,fleet assistant,No,1,Black,171,45993.75793
5,1991.0,male,60.0,Liberia,56080,senior security analyst,Bachelor,0,Blond,181,125809.99030
6,1982.0,unknown,71.0,State of Palestine,1205185,program associate,Bachelor,0,Black,174,150319.42260
8,2015.0,male,43.0,South Sudan,85333,intergovernmental outreach coordinator,No,0,Blond,189,48058.20607
9,2019.0,female,16.0,Cuba,1325383,lease analyst,Bachelor,1,Black,157,90940.68912

In [5]:
train.shape

(96137, 11)

In [6]:
y = train["Income in EUR"]

train.drop(["Income in EUR"] , inplace=True ,axis=1)

X = train

# Normalization

In [7]:
#scaler = MinMaxScaler()
#preds_a = scaler.fit_transform(X)
#X = pd.DataFrame(preds_a)

#mm_scaler = MinMaxScaler()
#X2 = mm_scaler.fit_transform(X2)

# Cleaning the Test Dataset

In [8]:
test = pd.read_csv('Testing.csv')
print(test.shape)
y_test = test["Income"]
test.drop(["Instance","Income"] , inplace=True ,axis=1)


test["Year of Record"].replace(0, np.NaN, inplace = True)   # then replce it with NAN becasue dropna fucntion undersatnds that nan means null values
test['Year of Record']=train.apply(lambda col:fillna(test['Year of Record']))

test["Gender"].replace("0", "unknown", inplace = True)   # then replce it with NAN becasue dropna fucntion undersatnds that nan means null values
#test["Gender"].replace(np.NaN, "unknown", inplace=True)
test['Gender']=train.apply(lambda col:fillna(test['Gender']))

test['Age'].replace(0,np.NaN, inplace = True)
#test['Age']=train.apply(lambda col:fillna(test['Age']))
test['Age'].fillna((train['Age'].mean()), inplace=True)


#test.loc[ test['Age'] <= 20, 'Age'] = 0
#test.loc[(test['Age'] > 20) & (test['Age'] <= 32), 'Age'] = 1
#test.loc[(test['Age'] > 32) & (test['Age'] <= 48), 'Age'] = 2
#test.loc[(test['Age'] > 48) & (test['Age'] <= 64), 'Age'] = 3
#test.loc[ test['Age'] > 64, 'Age'] = 4



#test.dropna(axis=0, subset=['Profession'],inplace=True)
#test["Profession"].replace(np.NaN, "Unknown", inplace=True)

test["University Degree"].replace("0", np.NaN, inplace=True)
test['University Degree'] = test.fillna(test['University Degree'].value_counts().index[0])

test["Profession"].replace("0", np.NaN, inplace=True)
test['Profession']=train.apply(lambda col:fillna(test['Profession']))

test['Wears Glasses']=train.apply(lambda col:fillna(test['Wears Glasses']))

test["Hair Color"].replace("0", np.NaN, inplace=True)
test["Hair Color"].replace("Unknown", np.NaN, inplace=True)
test['Hair Color']=train.apply(lambda col:fillna(test['Hair Color']))

test.head()

(73230, 12)

,Year of Record,Gender,Age,Country,Size of City,Profession,University Degree,Wears Glasses,Hair Color,Body Height [cm]
0,1992.0,other,21.0,Honduras,391652,senior project analyst,1992,1,Brown,153
1,1986.0,other,34.0,Kyrgyzstan,33653,greeter,1986,0,Black,163
2,1994.0,unknown,53.0,Portugal,34765,liaison,1994,1,Blond,153
3,1984.0,unknown,29.0,Uruguay,1494132,occupational therapist,1984,0,Black,154
4,2007.0,other,17.0,Serbia,120661,portfolio manager,2007,0,Red,191

# Binary Encoding the Data

In [9]:
ce_binary = ce.BinaryEncoder()

#concatenate x and test
frames = [X, test]
total_X = pd.concat(frames)
frames = [y, y_test]

total_Y = pd.concat(frames)

total_X.Gender.unique()

total_2 =ce_binary.fit_transform(total_X, total_Y)
Training3 = total_2.iloc[0:96136]
Testing3 = total_2.iloc[96137:169367]
Training_Label = total_Y.iloc[0:96136]
Testing_Lavel = total_Y.iloc[96137:169367]

# Normalization

In [10]:
#mm_scaler = MinMaxScaler()

#Training3 = mm_scaler.fit_transform(Training3)
#Testing3 = mm_scaler.fit_transform(Testing3)

# Building the model

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.ensemble import RandomForestRegressor

from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error , mean_squared_log_error
import xgboost
from sklearn.neural_network import MLPRegressor

LR = LinearRegression()
KN = KNeighborsRegressor()
GBR = GradientBoostingRegressor()
MLP = MLPRegressor()

In [12]:
from sklearn.model_selection import train_test_split # split library


X_train, X_test, y_train, y_test = train_test_split(Training3, Training_Label, test_size=0.3 , random_state=12)

## Random Forest Regressor

In [13]:
RFR = RandomForestRegressor( n_estimators=100, random_state= 42)


RFR.fit(X_train, y_train) # Start Training
RFR_pred = RFR.predict(X_test) # Start Predicting

print("r2_score : ", r2_score(y_test, RFR_pred)) # accuracy
print("Root mean_squared_error ", np.sqrt(mean_squared_error(y_test, RFR_pred)))

r2_score :  0.7259416384397852
Root mean_squared_error  79450.72470763247

# Linear Regression

In [14]:
LR.fit(X_train, y_train) # start trining
LR_pred = LR.predict(X_test) # take predictions

print("r2_score : ", r2_score(y_test, LR_pred)) 
print("Root mean_squared_error ", np.sqrt(mean_squared_error(y_test, LR_pred)))

r2_score :  0.32504355348889513
Root mean_squared_error  124684.99990525116

## KNeighborsRegressor

In [15]:
KN.fit(X_train, y_train) # start trining
KN_pred = KN.predict(X_test) # take predictions

print("r2_score : ", r2_score(y_test, KN_pred)) # accuracy
print("Root mean_squared_log_error ", np.sqrt(mean_squared_error(y_test, KN_pred)))

r2_score :  -0.16884820161447922
Root mean_squared_log_error  164079.90312793964

# Multi-Layer Perceptor Regressor

In [16]:
MLP.fit(X_train,y_train)
MLP_pred = MLP.predict(X_test)

print("r2_score : ", r2_score(y_test, MLP_pred)) # accuracy
print("Root mean_squared_log_error ", np.sqrt(mean_squared_error(y_test, MLP_pred)))

r2_score :  0.00899513149288167
Root mean_squared_log_error  151082.52292437173

# Random Forest Regressor gave the best result, so training the full data

In [17]:
RFR.fit(Training3, Training_Label) 
RFR_pred = RFR.predict(Testing3) # take predictions

In [18]:
pd.DataFrame(RFR_pred).to_csv("RFR_pred.csv")